@model Survey
@using System.Collections.Generic

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form asp-action="Result" asp-controller="Home" method="post">
            <span asp-validation-for="Name"></span>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
            </div>

            <span asp-validation-for="Location"></span>
            <div class="form-group">
                <label asp-for="Location"></label>
                <select asp-for="Location" asp-items="Model.Locations" class="custom-select"></select>
            </div>

            <span asp-validation-for="Language"></span>
            <div class="form-group">
                <label asp-for="Language"></label>
                <select asp-for="Language" asp-items="Model.Languages" class="custom-select"></select>
            </div>

            <span asp-validation-for="Comment"></span>
            <div class="form-group">
                <label asp-for="Comment"></label>
                <textarea asp-for="Comment" cols="50" rows="10"></textarea>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>