<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form action="/result" method="POST">
            <div class="form-group">
                <label for="Name">Your Name</label>
                <input type="text" class="form-control" name="Name" id="Name">
            </div>
            <div class="form-group">
                <label for="Location">Dojo Location</label>
                <select name="Location" id="Location" class="custom-select">
                    @foreach (string location in ViewBag.Locations)
                    {
                        <option>@location</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Language">Favorite Language:</label>
                <select name="Language" id="Language" class="custom-select">
                    @foreach (string language in ViewBag.Languages)
                    {
                        <option>@language</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Comment">Comment (optional):</label>
                <textarea name="Comment" id="Comment" cols="50" rows="10"></textarea>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>